body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
}

/* HEADER */
.header {
    box-sizing: border-box;
    background-color: #06374b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* CONTEÚDO */
.container {
    margin: 120px auto 40px auto;
    max-width: 900px;
    background-color: #fff;
    color: #333;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.noticia {
    text-align: center;
    margin-bottom: 50px;
}

.noticia img {
    margin-top: 10px;
    border-radius: 16px;
    width: 100%;
    max-width: 600px;
    height: auto;
}

.noticia p {
    margin-top: 25px;
    font-size: 17px;
    line-height: 1.6;
    text-align: justify;
}

/* FOOTER */
.footer {
    background-color: #06374b;
    color: #fff;
    text-align: center;
    padding: 20px;
}


/* ===== NOVOS ESTILOS DAS PÁGINAS ===== */

.titulo-pagina{
    text-align:center;
    margin-bottom:30px;
}

.cards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    gap:25px;
}

.card{
    background:#fff;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
    overflow:hidden;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 8px 18px rgba(0,0,0,0.15);
}

.card img{
    width:100%;
    height:170px;
    object-fit:cover;
}

.card h3{
    padding:15px 15px 5px 15px;
    font-size:18px;
}

.card p{
    padding:0 15px 20px 15px;
    color:#555;
}